<!DOCTYPE html>
<html lang="pl">
{include "parts/head.tpl"}

  <body>

{include "parts/nav.tpl"}

    <div class="container">
        <!-- Tu dajesz tresc -->

		<div class="container">
		<br>
		<br>
		<br>
		<h1>{$page->title}</h1>
		</div>
		
		<div class="container">
		{$page->content}
		</div>

        <!-- I tu ja konczysz, dalej nic nie zmienasz -->

{include "parts/foot.tpl"}
</body>
</html>
