<!DOCTYPE html>
<html lang="pl">
{include "parts/head.tpl"}

  <body>

{include "parts/nav.tpl"}

<div class="container">

    <div class="blog-header">
      <h1 class="blog-title">The Bootstrap Blog</h1>
      <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

      <div class="col-sm-12 blog-main">

        <!-- Tu jest tresc -->

     </div><!-- /.blog-main -->

   </div>

 </div>
 {include "parts/foot.tpl"}
