<div class="col-md-12">
  <div class="page-header">
    <h1>Instalator <small>MerruemCMS</small></h1>
  </div>
</div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Licencja</div>
  <div class="panel-body">
    <h2>Trochę formalności</h2>
    <p>Stworzenie systemu kosztowało nas wiele pracy,</br>
      dlatego zależy nam abyś zapoznał się z warunkami jego użycia.
      To również pora na wprowadzenie klucza licencyjnego.<p>

    <h2>Licenja</h2>
    <p>Umowa licencyjna znajduje się w <a href="pdf/umowa.pdf">tym pliku PDF</a></p>

    <h2>Twój klucz</h2>
    <p>Podaj teraz swój klucz który otrzymałeś od Nas,
      jeśli jeszcze go nie posiadasz, przejdź na <a href="http://merruem.eu/CMS/getkey">tą stronę</a>, aby go uzyskać.</p>
    <form method="POST", action="/admin/install/3">
      <div id="keyAlert" class="alert alert-danger" role="alert">Klucz jest niepoprawny lub nieaktywny.</div>
      <div id="keySuccess" class="alert alert-success" role="alert">Klucz został zaakceptowany.</div>
      <div class="form-group">
        <label for="key">Twój klucz</label>
        <input id="key" name="key" type="text" class="form-control" placeholder="Klucz">
      </div>
      <a id="valide" class="btn btn-default">Weryfikuj klucz</a>
      <button id="next" type="submit" class="btn btn-success">Dalej</a>
    </form>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">Postęp</div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
          15%
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Wstęp
      </div>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">Pamiętaj!</div>
    <div class="panel-body">
      <p>Nikomu nie podawaj twojego klucza,
      użycie klucza przez osobę niepoważnioną może spowodować blokadę licencji!</p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Czy wiesz, że...</div>
    <div class="panel-body">
      <p>Nasz system jak narazie to jeszcze gówno.</br>
      Trzeba w końcu go skończyć.</p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/admin/install/js/valideKey.js"></script>
