<div class="col-md-12">
  <div class="page-header">
    <h1>Instalator <small>MerruemCMS</small></h1>
  </div>
</div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Dane na temat twojej strony</div>
  <div class="panel-body">
    <h2>Informacje o stronie</h2>
    <form method="POST", action="/admin/install/4">
      <div class="form-group">
        <label for="title">Tytuł twojej strony:</label>
        <input name="title" id="title" type="text" class="form-control" placeholder="Tytuł">
      </div>
      <div class="form-group">
        <label for="domain">Domena:</label>
        <input name="domain" id="domain" type="text" class="form-control" placeholder="<?php echo $_SERVER['HTTP_HOST'] ?>">
      </div>
      <button id="next" type="submit" class="btn btn-success">Dalej</a>
    </form>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">Postęp</div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
          30%
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Wstęp</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Licencja
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Czy wiesz, że...</div>
    <div class="panel-body">
      <p>Nasz system jak narazie to jeszcze gówno.</br>
      Trzeba w końcu go skończyć.</p>
    </div>
  </div>
</div>
