<div class="col-md-12">
  <div class="page-header">
    <h1>Instalator <small>MerruemCMS</small></h1>
  </div>
</div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Dane administratora</div>
  <div class="panel-body">
    <h2>Taraz utworzymy konto administratora</h2>
    <form method="POST", action="/admin/install/5">
      <div class="form-group">
        <label for="name">Imię:</label>
        <input name="name" id="name" type="text" class="form-control" placeholder="Imię">
      </div>
      <div class="form-group">
        <label for="lastname">Nazwisko:</label>
        <input name="lastname" id="lastname" type="text" class="form-control" placeholder="Nazwisko">
      </div>
      <div class="form-group">
        <label for="mail">Adres email:</label>
        <input name="mail" id="mail" type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="username">Login:</label>
        <input name="username" id="username" type="text" class="form-control" placeholder="admin">
      </div>
      <div class="form-group">
        <label for="password">Hasło:</label>
        <div class="input-group">
          <a id="visible" class="input-group-addon"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
          <a id="unvisible" class="input-group-addon"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
          <a id="generate" class="input-group-addon">Generuj</a>
          <input type="password" class="form-control" id="password" name="password" placeholder="Hasło">
        </div>
        <label for="password">Siła hasła:</label>
        <div class="progress">
          <div id="pwdStrong" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">

          </div>
        </div>
      </div>
      <button id="next" type="submit" class="btn btn-success">Dalej</a>
    </form>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">Postęp</div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
          45%
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Wstęp</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Licencja</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Informacje o stronie
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Czy wiesz, że...</div>
    <div class="panel-body">
      <p>Nasz system jak narazie to jeszcze gówno.</br>
      Trzeba w końcu go skończyć.</p>
    </div>
  </div>
</div>

<script src="js/pwd.js"></script>
