<div class="col-md-12">
  <div class="page-header">
    <h1>Instalator <small>MerruemCMS</small></h1>
  </div>
</div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Dane bazy danych</div>
  <div class="panel-body">
    <h2>Taraz uzupełnijmy dane dostępowe do bazy danych</h2>
    <form method="POST", action="/admin/install/6">
      <div class="form-group">
        <label for="host">Host:</label>
        <input name="host" id="host" type="text" class="form-control" placeholder="localhost">
      </div>
      <div class="form-group">
        <label for="user">Użytkownik:</label>
        <input name="user" id="user" type="text" class="form-control" placeholder="Użytkownik">
      </div>
      <div class="form-group">
        <label for="password">Hasło:</label>
        <div class="input-group">
          <a id="visible" class="input-group-addon"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
          <a id="unvisible" class="input-group-addon"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
          <input name="password" type="password" class="form-control" id="password" name="password" placeholder="Hasło">
        </div>
      </div>
      <div class="form-group">
        <label for="name">Nazwa bazy:</label>
        <input name="name" id="name" type="text" class="form-control" placeholder="Nazwa bazy">
      </div>
      <button id="next" type="submit" class="btn btn-success">Dalej</a>
    </form>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">Postęp</div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
          70%
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Wstęp</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Licencja</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Informacje o stronie</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Konto administratora
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Czy wiesz, że...</div>
    <div class="panel-body">
      <p>Nasz system jak narazie to jeszcze gówno.</br>
      Trzeba w końcu go skończyć.</p>
    </div>
  </div>
</div>

<script src="js/dbpwd.js"></script>
