<div class="col-md-12">
  <div class="page-header">
    <h1>Instalator <small>MerruemCMS</small></h1>
  </div>
</div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Teraz nasza kolej...</div>
  <div class="panel-body">
    <h2>Prawie gotowe...</h2>
    <p>Super! Podałeś nam już wszystkie niezbędne informacje. Teraz my skonfigurujemy stronę.</p>
      <a id="install" class="btn btn-success">INSTALACJA</a>

<div id="hide">

    <h2>Postęp instalacji:</h2>
    <div class="progress">
      <div id="hideProg" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        0%
      </div>
    </div>
    <div id="hideSuccess" class="alert alert-success" role="alert">
      <div id="hideSuccess1"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Tworzenie plików</br></div>
      <div id="hideSuccess2"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Łączenie z bazą danych</br></div>
      <div id="hideSuccess3"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Tworzenie tabel</br></div>
      <div id="hideSuccess4"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Wprowadzanie danych</br></div>
      <div id="hideSuccess5"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Usuwanie plików tymczasowych</div>
    </div>
    <div id="hideAlert" class="alert alert-danger" role="alert">
      <div id="hideAlert1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Tworzenie plików</br></div>
      <div id="hideAlert2"<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Łączenie z bazą danych</br></div>
      <div id="hideAlert3"<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Tworzenie tabel</br></div>
      <div id="hideAlert4"<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Wprowadzanie danych</br></div>
      <div id="hideAlert5"<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Usuwanie plików tymczasowych</div>
    </div>
    <a href="/admin/install/7" id="next" class="btn btn-success">Dalej</a>
</div>

  </div>
</div>
</div>

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">Postęp</div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
          80%
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Wstęp</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Licencja</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Informacje o stronie</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Konto administratora</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Konfiguracja bazy danych</br>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Czy wiesz, że...</div>
    <div class="panel-body">
      <p>Nasz system jak narazie to jeszcze gówno.</br>
      Trzeba w końcu go skończyć.</p>
    </div>
  </div>
</div>

<script src="js/install.js"></script>
