<div class="col-md-12">
  <div class="page-header">
    <h1>Instalator <small>MerruemCMS</small></h1>
  </div>
</div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Gotowe!</div>
  <div class="panel-body">
    <h2>Doskonale!</h2>
    <p>Twoja strona czeka już na Ciebie gotowa!</br>
    Pamiętaj aby usunąć z serwera folder <kbd>admin/install</kbd> dla zwiększenia bezpieczeństwa.</p>
      <a href="/" class="btn btn-success">Strona głowna</a>
      <a href="/admin"  class="btn btn-success">Panel administratora</a>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">Postęp</div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          100%
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Wstęp</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Licencja</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Informacje o stronie</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Konto administratora</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Konfiguracja bazy danych</br>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Zatwierdzanie zmian</br>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Czy wiesz, że...</div>
    <div class="panel-body">
      <p>Nasz system jak narazie to jeszcze gówno.</br>
      Trzeba w końcu go skończyć.</p>
    </div>
  </div>
</div>
