<div class="col-md-12">
  <div class="page-header">
    <h1>Instalator <small>MerruemCMS</small></h1>
  </div>
</div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Rozpoczęcie instalacji</div>
  <div class="panel-body">
    <h2>Wolniej, wolniej...</h2>
    <p>Mamy nadzieję, że nie prubujesz obejść licencji...<p>

    <h2>Przygotuj...</h2>
    <p>Do ukończenia instalacji potrzebne będą Ci następujące dane:
      <ul>
        <li>Nazwa twojej przyszłej strony</li>
        <li>Dane dostępowe do twojej bazy danych:
          <ul>
            <li>Adres hosta</li>
            <li>Nazwa użytkownika</li>
            <li>Hasło</li>
            <li>Nazwa bazy danych</li>
          </ul>
        </li>
        <li>Adres email</li>
      </ul>
    </p>
    <a href="/admin/install/2" type="button" class="btn btn-primary">Do dzieła!</a>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="panel panel-info">
  <div class="panel-heading">Czy wiesz, że...</div>
  <div class="panel-body">
    <p>Nasz system jak narazie to jeszcze gówno.</br>
      Trzeba w końcu go skończyć.</p>
  </div>
</div>
</div>
