<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-comment fa-fw"></i> Powiadomienie
                    <span class="pull-right text-muted small">4 minutt temu</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>

    </ul>
    <!-- /.dropdown-alerts -->
