body, html{
  background-color: #EEE;
}

#cont{
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

.contWew{
  padding-left: 20px;
  padding-right: 20px;
}

.center{
  text-align: center !important;
}
